<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			 http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- beans:beans  让 beans这个标签带上 beans: 前缀
         xmlns=.../security 这种配置将security相关的标签设置为默认
         这样可以不写 <security:xxx 这种前缀了 -->

    <!-- 以下页面不被拦截 -->
    <http pattern="/login.html" security="none"/>
    <http pattern="/css/**" security="none"/>
    <http pattern="/img/**" security="none"/>
    <http pattern="/js/**" security="none"/>
    <http pattern="/plugins/**" security="none"/>

    <!-- 页面拦截规则 -->
    <http use-expressions="false">
        <intercept-url pattern="/**" access="ROLE_USER,ROLE_ADMIN" />
        <!-- 配置登陆页面/默认访问页/ -->
        <form-login
                login-page="/login.html"
                default-target-url="/admin/index.html"
                authentication-failure-url="/login.html"
                always-use-default-target="true"/>

        <!-- 退出登陆配置 -->
        <logout logout-url="/logout" logout-success-url="/login.html"/>

        <!-- 关闭跨域限制 -->
        <csrf disabled="true"/>

        <!-- 允许访问 内置框架页面 -->
        <headers>
            <frame-options policy="SAMEORIGIN"/>
        </headers>

    </http>

    <!-- 认证管理器 -->
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="admin" password="abc123" authorities="ROLE_USER"/>
                <user name="sunwukong" password="dasheng" authorities="ROLE_ADMIN"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>
</beans:beans>
